<div class="conteaddService">
    <h1 class="titleAdd">Añadir Servicio</h1>
    <p class="subtittle">Agrega el servicio que vas a prestar.</p>
    <div class="divButtonscansave">
        <button class="buttonCancel">cancelar</button>
        <button class="buttonSave">guardar</button>
    </div>

    <!-- aqui va el formulario para crear un servicio -->
    <div class="divFormuService">
        <div class="formleft">
            <h3 class="textditata">Nombre del Servicio</h3>
            <input type="text" class="input-editdataName" placeholder="Nombre del servicio" name="email">
            <mat-divider class="matdivider"></mat-divider>
            <h3 class="textditata">Categoria</h3>
            <div class="editdataSelect">
                <div class="select">
                    <select class="selectAddress" name="categoria" id="">
                        <option value="">Comooo</option>
                    </select>
                </div>
                
            </div>
            <mat-divider class="matdivider"></mat-divider>
            <h3 class="textditata">Departamento</h3>
            <div class="editdataSelect">
                <div class="select">
                    <select class="selectAddress" name="departamento" id="">
                        <option value="">Comooo</option>

                    </select>
                </div>
                
            </div>
            <h3 class="textditata">Ciudad</h3>
            <div class="editdataSelect">
                <div class="select">
                    <select class="selectAddress" name="ciudad" id="">
                        <option value="">Comooo</option>

                    </select>
                </div>
                
            </div>
            <mat-divider class="matdivider"></mat-divider>
            <h3 class="textditata">Descripción</h3>
            <textarea></textarea>

        </div>


        <div class="formright">
            <p>aqui va lo de imagen y lo otro</p>
        </div>

    </div>

</div>