<div class="conteaddService">
    <h1 class="titleAdd">Añadir Servicio</h1>
    <p class="subtittle">Agrega el servicio que vas a prestar.</p>
    <div class="divButtonscansave">
        <button class="buttonCancel">cancelar</button>
        <button class="buttonSave">guardar</button>
    </div>

    <!-- aqui va el formulario para crear un servicio -->
    <div class="divFormuService">
        <div class="formleft">
            <h3 class="textditata">Nombre del Servicio</h3>
            <input type="text" class="input-editdataName" placeholder="Nombre del servicio" name="email">
            <mat-divider class="matdivider"></mat-divider>
            <h3 class="textditata">Categoria</h3>
            <div class="editdataSelect">
                <div class="select">
                    <select class="selectAddress" name="categoria" id="">
                        <option value="">Comooo</option>
                    </select>
                </div>

            </div>
            <mat-divider class="matdivider"></mat-divider>
            <h3 class="textditata">Departamento</h3>
            <div class="editdataSelect">
                <div class="select">
                    <select class="selectAddress" name="departamento" id="">
                        <option value="">Comooo</option>

                    </select>
                </div>

            </div>
            <h3 class="textditata">Ciudad</h3>
            <div class="editdataSelect">
                <div class="select">
                    <select class="selectAddress" name="ciudad" id="">
                        <option value="">Comooo</option>

                    </select>
                </div>

            </div>
            <mat-divider class="matdivider"></mat-divider>
            <h3 class="textditata">Descripción</h3>
            <textarea></textarea>

        </div>


        <div class="formright">
            <h3 class="textditata">Imagenes del servicio</h3>
            <div>
                <input type="file" (change)="cargarImagen($event)">
                <div class="carrusel">
                    <div class="imagen" *ngFor="let imagen of imagenes">
                        <img [src]="imagen" alt="Imagen cargada" width="150" height="150">
                    </div>
                </div>
            </div>
            <h3 class="textditata">Disponibilidad</h3>
            <div class="editdataSelect">
                <div class="select">
                    <select class="selectAddress" name="ciudad" id="">
                        <option value="">Medio Tiempo</option>

                    </select>
                </div>

            </div>

            <h3 class="textditata">Fechas Disponibles</h3>
            <div class="calendar">
                <div class="header">
                    <button (click)="previousMonth()">Anterior</button>
                    <span>{{ monthYear }}</span>
                    <button (click)="nextMonth()">Siguiente</button>
                </div>
                <div class="body">
                    <div class="days">
                        <div *ngFor="let day of days">{{ day }}</div>
                    </div>
                    <div class="dates">
                        <div *ngFor="let date of dates"
                            [ngClass]="{'occupied-date': isOccupied(date), 'selected-date': isSelected(date)}"
                            (click)="selectDate(date)">
                            {{ date.getDate() }}
                        </div>
                    </div>
                </div>
            </div>


        </div>



    </div>

</div>