<div class="imagenFondo"> </div>
<div class="divLogo">
    <button class="logo">
        <img src="../../../assets/Logo.png" width="50" height="50" alt="Imagen del botón">
        <span class="textLogo">AccessAbility</span>
    </button>
</div>
<div class="divFormulario">

    <form   class="form" >

        <h2 class="uneText" data-aos="zoom-in">Únete a<br> Nosotros</h2>
        <div class="conOTDI">

            <div class="divFormleft">
                <input type="text" id="nameUser"  formControlName="nameUser" placeholder="Escribe tu nombre" />
                <input type="text" id="surname"  formControlName="surname" placeholder="Escribe tu apellido" />
                <input type="email" id="email" formControlName="email" placeholder="email" />
            <select name="document_type"  id="document_type" formControlName="document_type">
            
                <option selected  value="CC">CC</option>
                <option value="PA">PA</option>
                <option value="CE">CE</option>
            </select>
            <input type="text" id="id_number" formControlName="documentNumber" placeholder="Numero de identificacion" />

            <input type="password" id="password" formControlName="password" placeholder="Escribe una contraseña" />
            <input type="password" id="password" formControlName="confirmpassword" placeholder="Escribe nuevamente la contraseña" />
            

        </div>
        <div class="divFormRight">
            <input id="dateTime" formControlName="dateTime" type="date" name="fecha" max="2004-01-01" />
           <div class="divCheckBox">
               <mat-radio-button class="checkbox" value="before">Hombre</mat-radio-button>
           </div>
           <div class="divCheckBox">

               <mat-radio-button class="checkbox" value="before">Mujer</mat-radio-button>
            </div>
            <div class="divCheckBox">

                <mat-radio-button class="checkbox" value="before">Otro</mat-radio-button>
            </div>
            <p class="aceptarPolitica">Al hacer clic en "Registrarte", aceptas nuestras Condiciones, la Política de
                privacidad y la Política de cookies.</p>
                <p class="yaregis"><a href="#" routerLink="/login">Ya tiene cuenta</a></p>

            <button class="buttonRegister" mat-stroked-button (click)="registrarse()" [disabled]="">Registrarse</button>
        </div>
    </div>
      
        
        
        
      
    
  

</form>
</div>
