@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700,400,bold,1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.imagenFondo {
    position: fixed;
    width: 56%;
    height: 70%;
    background-size: 100% 100%;
    margin-top: 10%;
    background-image: url("src\assets\imgRegister.png");
    left: 20px;
}

/* logo */
.divLogo {
    display: inline;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.textLogo {
    display: inline;
    flex-grow: 1;
    text-align: center;
    margin-left: 5px;
    font-size: large;
}


/* De aqui lo del mk formulario */

.divFormulario {
    position: relative;
    background-color: #4F7397;
    width: 55%;
    left: 44%;
    top: 11vh;
    ;
    border-radius: 20px;
    padding: 15px;

}

.alert {
    position: relative;
    display: inline-block;
    margin-left: 15%;
    border-radius: 50px;
    background-color: #F06868;
    color: #FFFFFF;
    border-color: #FFFFFF;
    padding-right: 5%;
    padding-left: 5%;
}

.conOTDI {
    display: flex;
    /* Establecer la propiedad display como flex */
    justify-content: space-between;

}

.uneText {
    position: relative;
    display: inline;
    top: 8%;
    left: 3%;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
}

.divFormleft {
    position: relative;
    height: auto;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px
}

.divFormRight {
    position: relative;
    height: auto;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px
}

.divFormleft input {
    margin: auto;
    width: 90%;
    margin-top: 5px;
    height: 34px;
    border-radius: 5px;
    border: none;
    font-size: large;
}

#nameUser {
    width: 80%;
}

#surname {
    width: 80%;
}

#document_type {
    margin: auto;
    height: 34px;
    width: 80%;
    border-radius: 10px;
    border: none;
}

#id_number {
    width: 80%;
}

#email {
    grid-column: span 2;
}
#email:invalid {
    border: 2px solid red;
  }
.password {
    grid-column: span 2;
}

#dateTime {
    grid-column: span 3;
    width: 90%;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-size: large;
}

.buttonRegister {
    grid-column: 2;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #0E3A66;
    font-size: large;
    cursor: pointer;
}

.divCheckBox {
    background-color: #FFFFFF;
    height: 45px;
    width: 80%;
    border-radius: 10px;
    display: flex;
    align-items: center;

}

.checkbox {
    position: relative;
    font-size: large;
    font-family: 'Poppins';
    margin-left: 15px;


}

.aceptarPolitica {
    color: #FFFFFF;
    grid-column: span 3;
    text-align: center;
    font-size: 13px;
    margin-bottom: 2px;
    font-weight: 400;

}

.yaregis {
    margin: 0;
    grid-column: 2;
    text-align: center;
    font-size: larger;
}

.yaregis a {
    color: #FFFFFF;
}