@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.imagenFondo {
    position: fixed;
    width: 56%;
    height: 70%;
    background-size: 100% 100%;
    margin-top: 10%;
    background-image: url("src\assets\imgRegister.png");
    left: 20px;
}

/* logo */
.divLogo {
    display: inline;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.textLogo {
    display: inline;
    flex-grow: 1;
    text-align: center;
    margin-left: 5px;
    font-size: large;
}


/* De aqui lo del mk formulario */

.divFormulario {
    position: absolute;
    background-color: #4F7397;
    width: 55%;
    height: 450px;
    left: 44%;
    top: 28%;
    border-radius: 20px;
   
}
.conOTDI{
    display: flex; /* Establecer la propiedad display como flex */
    justify-content: space-between; 

}
.uneText{
color: #FFFFFF;
margin-left: 25px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 54px;
}

.divFormleft{
    position: relative;
    height: auto;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px
}

.divFormRight{
    position: relative;
    height: auto;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px
}

.divFormleft input{
    margin: auto;
    width: 90%;
    margin-top: 5px;
    height:34px ;
    border-radius: 5px;
    border: none;
    font-size: large;
}
#nameUser{
    width: 80%;
}
#surname{
    width: 80%;
}
#document_type{
    margin: auto;
    height: 34px;
    width: 80%;
    border-radius: 10px;
    border: none;
}
#id_number{
    width: 80%;
}
#email{
    grid-column: span 2;
}
#password{
    grid-column: span 2;
}
#dateTime{
    grid-column: span 3;
    width: 90%;
    height:45px;
    border-radius: 10px;
    border: none;
    font-size: large;
}
.buttonRegister{
    grid-column: 2;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #0E3A66;
    font-size: large;
    cursor: pointer;
}
.divCheckBox{
    background-color: #FFFFFF;
    height: 45px;
    width: 80%;
    border-radius: 10px;
}
.checkbox{
    font-size: large;
    font-family: 'Poppins';
}
.aceptarPolitica{
    color: #FFFFFF;
    grid-column: span 3;
    text-align: center;
    font-size: large;
    margin-bottom: 2px;
}
.yaregis{
    margin: 0;
    grid-column: 2;
    text-align: center;
    font-size: larger;
}
.yaregis a{
    color: #FFFFFF;
}