.imagenFondo {
    position: fixed;
    width: 56%;
    height: 70%;
    background-size: 100% 100%;
    margin-top: 10%;
    background-image: url("src\assets\imgRegister.png");
    left: 20px;
}

.divLogo {
    display: inline;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.textLogo {
    display: inline;
    flex-grow: 1;
    text-align: center;
    margin-left: 5px;
    font-size: large;
}

.buttonRegister {
    position: absolute;
    width: 150px;
    height: 40px;
    color: white;
    background: #0E3A66;
    border-radius: 20px;
    cursor: pointer;
    left: 86%;
    top: 8%;
}

/* De aqui lo del mk formulario */

.divFormulario {
    position: absolute;
    background-color: #4F7397;
    width: 55%;
    height: 450px;
    left: 44%;
    top: 28%;
    border-radius: 20px;
}
.uneText{
color: #FFFFFF;
margin-left: 25px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 54px;
}

.divText p {
    width: 26%;
    height: 6%;
    left: 30%;
    font-style: normal;
    font-weight: 400;
    font-size: 80%;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}


.form #nameUser {
    width: 12%;
    height: 4.5%;
    border: none;
    background: #FFFFFF;
    border-radius: 4px;
}

.form #surname {
    width: 12%;
    height: 4.5%;
    border: none;
    background: #FFFFFF;
    border-radius: 4px;
}

.form #document_type {
    width: 6%;
    height: 4.5%;
    font-weight: 400;
    font-size: 98%;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    background: #FFFFFF;
    border-radius: 4px;
}

.form #id_number {
    width: 18.3%;
    height: 4.5%;
    border: none;
    background: #FFFFFF;
    border-radius: 4px;
}

.form #password {
    width: 25%;
    height: 4.5%;
    border: none;
    background: #FFFFFF;
    border-radius: 4px;
}

.form #email {
    width: 25%;
    height: 4.5%;
    border: none;
    background: #FFFFFF;
    border-radius: 4px;
}

.form #date {
    width: 55%;
    height: 4.5%;
    color: #FFFFFF;
}

.form #dateTime {
    width: 45%;
    height: 100%;
    border: none;
    font-size: 110%;
    letter-spacing: 0.68em;
    border-radius: 4px;
}

.form #address,
#phone {
    height: 4.5%;
    width: 25%;
    border: none;
    border-radius: 4px;
}

.form #phone {
    top: 46.4%;
}

.form #label {
    width: 55%;
    border: none;
    color: #FFFFFF;
}

.form #labelM {
    width: 7%;
    height: 4.5%;
    border: none;
    bottom: 0%;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
}

.form #labelW {
    width: 7%;
    height: 4.5%;
    border: none;
    bottom: 0%;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
}

.form #labelO {
    width: 7%;
    height: 4.5%;
    border: none;
    bottom: 0%;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
}