<app-nav-bar></app-nav-bar>
<div class="contDiv">
  <div class="divFiltros"></div>
  <div class="divRight">
    <h1>aqui es algo de los mkfiltros , pero primero ahi que terlos xd</h1>
    <!-- <div *ngFor="let publi of listaPublicaciones"> -->
    <div class="contenedorServicios">
      <!-- <div class="contend-publicacion" *ngIf="publi.idUser != idActualuser$"> -->
      <div class="contend-service">
        <div class="divimgService">
          <img
            src="../../../assets/imgLogin.png"
            alt="Imagen del botón"
            class="imgService"
          />
        </div>
        <div class="conte">
          <p class="valorService">48.000 COP/hora</p>
          <p class="titleService">Chef especializado</p>
          <p class="descriptionService">
            Todo tipo de recetas - dietas especiales
          </p>
          <p class="puntuacionService">
            <i class="fa-solid fa-star" style="color: #ffffff"></i>4.8
          </p>
          <p class="contratadoService">| contratado : 50 veces</p>
        </div>
      </div>
      <div class="contend-service">
        <div class="divimgService">
          <img
            src="../../../assets/imgLogin.png"
            alt="Imagen del botón"
            class="imgService"
          />
        </div>
        <div class="conte">
          <p class="valorService">48.000 COP/hora</p>
          <p class="titleService">Chef especializado</p>
          <p class="descriptionService">
            Todo tipo de recetas - dietas especiales
          </p>
          <p class="puntuacionService">
            <i class="fa-solid fa-star" style="color: #ffffff"></i>4.8
          </p>
          <p class="contratadoService">| contratado : 50 veces</p>
        </div>
      </div>
      <div class="contend-service">
        <div class="divimgService">
          <img
            src="../../../assets/imgLogin.png"
            alt="Imagen del botón"
            class="imgService"
          />
        </div>
        <div class="conte">
          <p class="valorService">48.000 COP/hora</p>
          <p class="titleService">Chef especializado</p>
          <p class="descriptionService">
            Todo tipo de recetas - dietas especiales
          </p>
          <p class="puntuacionService">
            <i class="fa-solid fa-star" style="color: #ffffff"></i>4.8
          </p>
          <p class="contratadoService">| contratado : 50 veces</p>
        </div>
      </div>
      <div class="contend-service">
        <div class="divimgService">
          <img
            src="../../../assets/imgLogin.png"
            alt="Imagen del botón"
            class="imgService"
          />
        </div>
        <div class="conte">
          <p class="valorService">48.000 COP/hora</p>
          <p class="titleService">Chef especializado</p>
          <p class="descriptionService">
            Todo tipo de recetas - dietas especiales
          </p>
          <p class="puntuacionService">
            <i class="fa-solid fa-star" style="color: #ffffff"></i>4.8
          </p>
          <p class="contratadoService">| contratado : 50 veces</p>
        </div>
      </div>
      <div class="contend-service">
        <div class="divimgService">
          <img
            src="../../../assets/imgLogin.png"
            alt="Imagen del botón"
            class="imgService"
          />
        </div>
        <div class="conte">
          <p class="valorService">48.000 COP/hora</p>
          <p class="titleService">Chef especializado</p>
          <p class="descriptionService">
            Todo tipo de recetas - dietas especiales
          </p>
          <p class="puntuacionService">
            <i class="fa-solid fa-star" style="color: #ffffff"></i>4.8
          </p>
          <p class="contratadoService">| contratado : 50 veces</p>
        </div>
      </div>
      <div class="contend-service">
        <div class="divimgService">
          <img
            src="../../../assets/imgLogin.png"
            alt="Imagen del botón"
            class="imgService"
          />
        </div>
        <div class="conte">
          <p class="valorService">48.000 COP/hora</p>
          <p class="titleService">Chef especializado</p>
          <p class="descriptionService">
            Todo tipo de recetas - dietas especiales
          </p>
          <p class="puntuacionService">
            <i class="fa-solid fa-star" style="color: #ffffff"></i>4.8
          </p>
          <p class="contratadoService">| contratado : 50 veces</p>
        </div>
      </div>
      <div class="contend-service">
        <div class="divimgService">
          <img
            src="../../../assets/imgLogin.png"
            alt="Imagen del botón"
            class="imgService"
          />
        </div>
        <div class="conte">
          <p class="valorService">48.000 COP/hora</p>
          <p class="titleService">Chef especializado</p>
          <p class="descriptionService">
            Todo tipo de recetas - dietas especiales
          </p>
          <p class="puntuacionService">
            <i class="fa-solid fa-star" style="color: #ffffff"></i>4.8
          </p>
          <p class="contratadoService">| contratado : 50 veces</p>
        </div>
      </div>
      <div class="contend-service">
        <div class="divimgService">
          <img
            src="../../../assets/imgLogin.png"
            alt="Imagen del botón"
            class="imgService"
          />
        </div>
        <div class="conte">
          <p class="valorService">48.000 COP/hora</p>
          <p class="titleService">Chef especializado</p>
          <p class="descriptionService">
            Todo tipo de recetas - dietas especiales
          </p>
          <p class="puntuacionService">
            <i class="fa-solid fa-star" style="color: #ffffff"></i>4.8
          </p>
          <p class="contratadoService">| contratado : 50 veces</p>
        </div>
      </div>
      <div class="contend-service">
        <div class="divimgService">
          <img
            src="../../../assets/imgLogin.png"
            alt="Imagen del botón"
            class="imgService"
          />
        </div>
        <div class="conte">
          <p class="valorService">48.000 COP/hora</p>
          <p class="titleService">Chef especializado</p>
          <p class="descriptionService">
            Todo tipo de recetas - dietas especiales
          </p>
          <p class="puntuacionService">
            <i class="fa-solid fa-star" style="color: #ffffff"></i>4.8
          </p>
          <p class="contratadoService">| contratado : 50 veces</p>
        </div>
      </div>
      <div class="contend-service">
        <div class="divimgService">
          <img
            src="../../../assets/imgLogin.png"
            alt="Imagen del botón"
            class="imgService"
          />
        </div>
        <div class="conte">
          <p class="valorService">48.000 COP/hora</p>
          <p class="titleService">Chef especializado</p>
          <p class="descriptionService">
            Todo tipo de recetas - dietas especiales
          </p>
          <p class="puntuacionService">
            <i class="fa-solid fa-star" style="color: #ffffff"></i>4.8
          </p>
          <p class="contratadoService">| contratado : 50 veces</p>
        </div>
      </div>
      <div class="contend-service">
        <div class="divimgService">
          <img
            src="../../../assets/imgLogin.png"
            alt="Imagen del botón"
            class="imgService"
          />
        </div>
        <div class="conte">
          <p class="valorService">48.000 COP/hora</p>
          <p class="titleService">Chef especializado</p>
          <p class="descriptionService">
            Todo tipo de recetas - dietas especiales
          </p>
          <p class="puntuacionService">
            <i class="fa-solid fa-star" style="color: #ffffff"></i>4.8
          </p>
          <p class="contratadoService">| contratado : 50 veces</p>
        </div>
      </div>
    </div>
  </div>
</div>
