@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;600;0,700;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

.contDiv {
  position: absolute;
  display: flex;
  width: 98vw;
  height: 90vh;
}
/* aqui inicia el div de los filtros */
.divFiltros {
  position: relative;
  display: flex;
  width: 800px;
  max-width: 800px;
  height: 100%;
}
.filtros {
  display: block;
  width: 80%;
  padding: 15px;
  margin: 5px;
  border: 2px;
  border: 1px solid #b9b3b3;
  border-radius: 20px;
}
.textFiltro {
  margin: auto;
}
.checkTipo {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.input-editdataemail {
  padding-left: 6%;
  border-radius: 15px;
  margin: 0 auto 15px auto;
  position: relative;
  height: 40px;
  width: 90%;
  box-sizing: border-box;
  border: 1px solid #b9b3b3;
}
#iconEmail {
  font-size: 28px;
}

/* aqui termina el div de los filtros */

/* inicio del div de productos */
.divRight {
  width: auto;
}
.divSelectOrder{
  display: flex;
  float: right;
  padding-right: 20%;
}
.selectOrder {
  /* Reset Select */
  appearance: none;
  margin: auto auto 15px auto;
  outline: 0;
  height: 40px;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #B9B3B3;
  border-radius: 15px;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}

.textOrder {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.contenedorServicios {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.contend-service {
  margin: 20px;
  display: block;
  background-color: #e1dede;
  width: 300px;
  border-radius: 15px;
  padding-bottom: 5px;
}
.divimgService {
  display: flex;
  margin: 10px;
}
.imgService {
  margin: auto;
  max-width: 300px;
  max-height: 200px;
  margin-top: 10px;
}

.conte {
  position: relative;
  display: block;
  background: #ffffff;
  border-radius: 10px;
  margin: 5px;
  padding-bottom: 5px;
}

.valorService {
  position: relative;
  margin-left: 30px;
  width: 181px;
  height: 32px;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}
.titleService {
  position: relative;
  width: 207px;
  font-family: "Poppins";
  font-style: normal;
  font-size: 18px;
  margin-left: 30px;
  margin-bottom: 0;
}
.descriptionService {
  position: relative;
  width: 207px;
  margin-left: 30px;

  font-family: "Poppins";
  font-style: normal;
  font-size: 15px;
}
.puntuacionService {
  text-align: center;
  box-sizing: border-box;
  background: #1684ac;
  border: 1px solid #1684ac;
  border-radius: 15px;
  color: #ffffff;
  margin-left: 30px;
  margin-bottom: 5px;
  display: inline;
  padding: 2px 10px 2px 10px;
}
.contratadoService {
  display: inline;
  width: 174px;
  font-family: "Poppins";
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  margin-left: 50px;

  color: #615e5e;
}

/* Fin div de productos */
