<div class="imagenFondo"> </div>
<div class="divLogo">
    <button class="logo">
        <img src="../../../assets/Logo.png" width="232" height="64" alt="Imagen del botón">
    </button>
</div>
<button class="buttonRegister" routerLink="/register">Registrarse</button>

<div class="divFormulario">
    <button class="boton-circular">
        <i class="fa-2x fa-solid fa-user" style="color: #ffffff;"></i>
    </button>
    <h2 class="textLogin">Login</h2>
    <div class="alert alert-danger " *ngIf="errors"  role="alert">
       Las credenciales Ingresadas son incorrectas
      </div>
    <h4 class="texth4">Ingrese Las Credenciales de Inicio de Sesion</h4>
    <div class="form">
        <form class="login-form">

            <input type="email"[(ngModel)]="email" name="email" placeholder="correo electronico" class="form-control"
                id="email" />
            <i class=" fa-lg fa-solid fa-envelope" style="color: #8fc4f9;" id="iconEmail"></i>
            <input type="{{ showPassword ? 'text' : 'password' }}"[(ngModel)]="password"  name="password" placeholder="contraseña" class="form-control" 
                id="password" />
                <i class="fa-lg fa-sharp fa-solid fa-eye-slash" style="color: #8fc4f9;" id="iconEyeSlash" (click)="togglePasswordVisibility()"></i>

                <button (click)="iniciarSesionConGoogle()" class="btn-google">
                    <i class="fa-brands fa-google-plus-g" style="color: #2d73eb;"></i>
                    Iniciar sesión con Google
                  </button>
                  
                  <button (click)="iniciarSesionConFacebook()" class="btn-facebook">
                    <i class="fa-brands fa-facebook" style="color: #1f6aea;"></i>Iniciar sesión con Facebook
                  </button>
            <button class="buttonAceptar" (click) ="login()" [disabled]="!Loginn">Entrar</button>
            <p class="message"><a href="#" routerLink="/forgot-password">Olvido su contraseña</a></p>

        </form>
    </div>