.contenedor{
    display:flex;
    width: 100%;
    height: 100%;
}

.content-left {
 margin-top: 2%;
 margin-left: 4%;
  width: 40%;
  height: 80%;
}

.image-left {
  width: 100%;
  height: 100%;
}
/* logo */
.divLogo {
    display: inline;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.textLogo {
    display: inline;
    flex-grow: 1;
    text-align: center;
    margin-left: 5px;
    font-size: large;
}

/* end logo */





.content-right{
    width: 60%;
    height: 100%;
    display: block; 
}
.sup{
    margin-top: 15px;
}
.buttonLogin {margin-left: 70%;
  margin-right: 5%; 
  font-size: large;
  color: #77613C; 
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.buttonRegister {
  border-color: #0E3A66;
  border-width: 3px;
  color: #0E3A66;
  font-size: large;
  padding-top: 1%;
  padding-bottom: 1%; 
  border-radius: 10px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}

.next {
  background-color: #0E3A66;
  color: white;
  margin-left: 78%; 
  width: 150px;
  height: 50px;
  border-radius: 20px;
  font-size: large;
  margin-top: 30px;
  cursor: pointer;
}

.xont h2 {
    margin-top: 15%;
    margin-bottom: 8%; 
    font-weight: 700;
    font-size: xx-large;
    text-align: center; 
}

.xont h4 {
  margin-left: 10%;
  color: #0E3A66;
  font-weight: 700;
  font-size: 130%;
  font-size: x-large; 
}

input {
  width: 80%;
  margin-left: 10%;
  font-size: large;
  padding-top: 1%;
  padding-bottom: 1%;
  background: rgb(223,238,251, 0.75);
  border: none;
  border-radius: 4px;
  height: 35px; 
}
