<div class="divLogo">
    <button class="logo">
        <img src="../../../assets/Logo.png" width="50" height="50" alt="Imagen del botón">
        <span class="textLogo">AccessAbility</span>
    </button>
</div>
<div class="contenedor">
    <div class="content-left">
      <img src="./assets/imgForgotPassword.png" alt="Alternate Text" class="image-left" />
  
    </div>
    <div class="content-right">
      <div class="sup">
        <button class="buttonLogin" routerLink="login">Login</button>
        <button class="buttonRegister" routerLink="/register">Registrarse</button>
      </div>
      <div class="xont">
        <h2>¿Olvidó su contraseña?</h2>
        <h4>Dirección email</h4>
        <input type="email" name="name" value="" placeholder="Ingrese su direccion de correo electronico"/>
        <button class="next" routerLink="/principal">Siguiente</button>
      </div>
    </div>
  </div>
  